body {
    font-family: Arial, sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.8);
    width: 300px;
    border-radius: 10px;
}
select {
    width: 100px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
}

input, button {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.sign_up {
    margin-top: 10px;
    font-size: 14px;
}
.sign_up a {
    color: #007bff;
    text-decoration: none;
}
.sign_up a:hover {
    text-decoration: underline;
}